{% extends 'base.html' %}
{% load static %}

<!-- Archivos CSS -->
{% block style_css  %}
<link rel="stylesheet" href="{% static 'css/banner.css' %}">
{% endblock style_css  %}

{% block banner %}
<section>
  <div class="bg-holder overlay"
      style="background-image:url({% static 'img/cooproagrig/Banana-plantation-in-a-closed-pavilion-2526235.jpg' %}); background-size: cover; background-position: center center;">
      <!-- Overlay to darken the image -->
      <div class="overlay"></div>
  </div>
  <!--/.bg-holder-->
  <div class="container position-relative" style="z-index: 2;">
      <div class="row pt-6" data-inertia='{"weight":1.5}'>
          <div class="col-md-8 text-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
              <div class="overflow-hidden">
                  <h1 class="text-white fs-4 fs-md-5 mb-0 lh-1" data-zanim-xs='{"delay":0}'>Producción Órganica</h1>
                  <div class="nav" aria-label="breadcrumb" role="navigation" data-zanim-xs='{"delay":0.1}'>
                      <ol class="breadcrumb fs-1 ps-0 fw-bold">
                          <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Inicio</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Producción Órganica</li>
                      </ol>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- end of .container-->
</section>
{% endblock banner %}

{% block content %}
<section class="bg-100">
  <div class="container">
    {% for item in produccion_items %}
    <div class="row g-0 mb-4">
      <div class="col-lg-4 py-3 py-lg-0 position-relative animated-image-container"
        style="min-height:400px; background-position: top">
        <div class="bg-holder rounded-ts-lg rounded-lg-bs-lg rounded-te-lg rounded-lg-te-0 animated-image-sections"
          style="background-image:url('{{ item.foto.url }}');">
          <!--/.bg-holder-->
        </div>
      </div>
      <div
        class="col-lg-8 px-5 py-6 my-lg-0 bg-white rounded-lg-te-lg rounded-be-lg rounded-bs-lg rounded-lg-bs-0 d-flex align-items-center">
        <div data-zanim-timeline="{}" data-zanim-trigger="scroll">
          <h5 data-zanim-xs='{"delay":0}'>{{ item.titulo }}</h5>
          <p class="my-4" data-zanim-xs='{"delay":0.1}'>{{ item.descripcion }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock content %}