{% extends 'base.html' %}
{% load static %}

<!-- Archivos CSS -->
{% block style_css  %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
<link rel="stylesheet" href="{% static 'css/banner.css' %}">
{% endblock style_css  %}

{% block banner %}
<section>
    <div class="bg-holder overlay"
        style="background-image:url({% static 'img/cooproagrig/banner-contact.webp' %}); background-size: cover; background-position: center center;">
        <!-- Overlay to darken the image -->
        <div class="overlay"></div>
    </div>
    <!--/.bg-holder-->
    <div class="container position-relative" style="z-index: 2;">
        <div class="row pt-6" data-inertia='{"weight":1.5}'>
            <div class="col-md-8 text-white" data-zanim-timeline="{}" data-zanim-trigger="scroll">
                <div class="overflow-hidden">
                    <h1 class="text-white fs-4 fs-md-5 mb-0 lh-1" data-zanim-xs='{"delay":0}'>Contáctanos</h1>
                    <div class="nav" aria-label="breadcrumb" role="navigation" data-zanim-xs='{"delay":0.1}'>
                        <ol class="breadcrumb fs-1 ps-0 fw-bold">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contáctanos</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->
  </section>
{% endblock banner %}


{% block content %}
<section class="bg-100">
    <div class="container">
        <div class="row align-items-stretch justify-content-center mb-5">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100">
                    <div class="card-body px-5">
                        <h5 class="mb-3">Ubicación</h5>
                        <p class="mb-0 text-1100">
                            Machala, El Oro, Ecuador</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100">
                    <div class="card-body px-5">
                        <h5 class="mb-3">Dirección</h5>
                        <p class="mb-0 text-1100">
                            Parroquia Providencia, Urbanización Portal del Río.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="card h-100">
                    <div class="card-body px-5">
                        <h5>WhatsApp</h5>
                        <a href="https://wa.link/w2vb7f" target="_blank"><i class="fab fa-whatsapp"></i>
                            +593 96 309 0121</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mb-5">
          <div class="col-lg-12">
              <div class="map-responsive">
                  <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d995.8178948012812!2d-79.93129974442432!3d-3.2827140753970774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x241fa79ad6afaf%3A0xc0c0c7629e7cbad6!2sCooperativa%20de%20Producci%C3%B3n%20Agr%C3%ADcola%20-%20Cooproagrig!5e0!3m2!1ses!2sec!4v1725297244688!5m2!1ses!2sec" 
                      width="100%" 
                      height="450" 
                      style="border:0;" 
                      allowfullscreen="" 
                      loading="lazy" 
                      referrerpolicy="no-referrer-when-downgrade">
                  </iframe>
              </div>
          </div>
        </div>
  
        <!-- Formulario de contacto -->
        {% include 'form-contact.html' %}

    </div>

    <!-- Elemento oculto para indicar éxito -->
    {% if success %}
       <div id="success-indicator" style="display: none;"></div>
    {% endif %}
</section>
{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('FormHandler');
        
        form.addEventListener('submit', function(event) {
          event.preventDefault(); 
      
          const formData = new FormData(form);
          fetch(form.action, {
            method: 'POST',
            body: formData,
            headers: {
              'X-Requested-With': 'XMLHttpRequest'
            },
          })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            if (data.success) {
              Swal.fire({
                icon: 'success',
                title: 'Éxito',
                text: '¡Mensaje enviado satisfactoriamente!',
              }).then(() => {
                if (data.redirect_url) {
                  window.location.href = data.redirect_url;
                }
              });
            } else {
              Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Hubo un problema al enviar el formulario.',
              });
            }
          })
          .catch(error => console.error('Error:', error));
        });
      });
</script>
{% endblock scripts %}