{% extends 'dashboard.html' %} 
{% load static %}

{% block forms %} 
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card mt-3">
            <div class="card-header">
                <div class="card-title text-center">Nuevo Carrusel</div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <form id="FormHandler" action="{% url 'crear-carrusel' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="fotoInput">Foto</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="fas fa-image"></i>
                                </div>
                                <input
                                    type="file"
                                    class="form-control"
                                    id="fotoInput"
                                    name="foto"
                                    accept="image/*"
                                    required
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="tituloInput">Título</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="fas fa-heading"></i>
                                </div>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="tituloInput"
                                    name="titulo"
                                    placeholder="Título"
                                    required
                                />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="descripcionInput">Descripción</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="fas fa-align-left"></i>
                                </div>
                                <textarea
                                    class="form-control"
                                    id="descripcionInput"
                                    name="descripcion"
                                    placeholder="Descripción"
                                    rows="4"
                                    required
                                ></textarea>
                            </div>
                        </div>
                        
                        <div class="card-footer text-right">
                            <button
                              type="submit"
                              class="btn btn-primary"
                            >
                             <i class="fas fa-save"></i> 
                             Guardar
                            </button>

                            <a class="btn btn-danger" 
                               href="{% url 'carrusel' %}"
                                >
                                <i class="fas fa-times"></i> Cancelar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock forms %}

{% block script_js %}
<script src=" {% static 'admin/js/form-handler.js' %}"></script>
{% endblock script_js %}
