{% extends 'dashboard.html' %}
{% load static %}

{% block files_css %} 
<link rel="stylesheet" href="{% static 'admin/css/buttons.css' %}">
{% endblock files_css %}

{% block content %}
<div>
  <a class="btn btn-secondary mb-4" href="{% url 'dashboard' %}"><i class="fas fa-home"></i> Inicio</a>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title text-center">Bandeja de Mensajes</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="basic-datatables" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th class="text-center">Nombre</th>
                <th class="text-center">Email</th>
                <th class="text-center">Mensaje</th>
                <th class="text-center">Fecha de Envío</th>
                <th class="text-center">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              {% for item in messages %}
              <tr>
                <td class="text-center">{{ item.nombre }}</td>
                <td class="text-center">{{ item.email }}</td>
                <td class="text-center">{{ item.mensaje }}</td>
                <td class="text-center">{{ item.fecha_enviado|date:"Y-m-d H:i" }}</td>
                <td class="text-center">
                  <div class="form-button-action">
                    <form action="{% url 'eliminar-mensaje' item.pk %}" method="post">
                      {% csrf_token %}
                      <button
                       type="submit"
                       class=
                       "btn btn-link btn-danger
                        btn-eliminar
                        btn-enlarge
                       "
                       data-url="{% url 'eliminar-mensaje' item.pk %}"
                       >
                        <i class="fas fa-trash"></i>
                      </button>
                    </form>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Elemento oculto para indicar éxito -->
{% if success %}
<div id="success-indicator" style="display: none;"></div>
{% endif %}

{% endblock content %}

{% block script_js %}
<script src="{% static 'admin/js/jtables.js' %}"></script>
<script src="{% static 'admin/js/alert-confirm.js' %}"></script>
{% endblock script_js %}