{% extends 'dashboard.html' %} 
{% load static %}

{% block forms %} 
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card mt-3">
            <div class="card-header">
                <div class="card-title text-center">Mi Perfil</div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <form id="FormHandler" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="usernameInput">Nombre de Usuario</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </div>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="usernameInput"
                                    name="username"
                                    value="{{ username }}"
                                    placeholder="Nombre de Usuario"
                                    required
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="emailInput">Email</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="emailInput"
                                    name="email"
                                    value="{{ email }}"
                                    placeholder="Email"
                                    required
                                />
                            </div>
                        </div>

                    {% if user.is_superuser or user.is_staff %}
                        <div class="form-group">
                            <label for="roleInput">Rol</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="fas fa-user-tag"></i>
                                </div>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="roleInput"
                                    name="role"
                                    value="{{ role }}"
                                    placeholder="Rol"
                                    readonly
                                />
                            </div>
                        </div>
                    {% endif %}

                        <div class="form-group">
                            <label for="passwordInput1">Cambiar Clave</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="fas fa-key"></i>
                                </div>
                                <input
                                    type="password"
                                    class="form-control"
                                    id="passwordInput1"
                                    name="password1"
                                    placeholder="Nueva clave"
                                    required
                                />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="passwordInput2">Repetir Clave</label>
                            <div class="input-group">
                                <div class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </div>
                                <input
                                    type="password"
                                    class="form-control"
                                    id="passwordInput2"
                                    name="password2"
                                    placeholder="Repetir clave"
                                    required
                                />
                            </div>
                        </div>
                        
                        <div class="card-footer text-right">
                            <button
                              type="submit"
                              class="btn btn-primary"
                            >
                             <i class="fas fa-save"></i> 
                             Guardar
                            </button>

                            <a class="btn btn-danger" 
                               href="{% url 'dashboard' %}"
                                >
                                <i class="fas fa-times"></i> Cancelar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock forms %}

{% block script_js %}
<!-- Incluir SweetAlert para mostrar mensajes -->
{% if messages %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        {% for message in messages %}
            Swal.fire({
                icon: "{% if message.tags == 'error' %}error{% elif message.tags == 'success' %}success{% else %}info{% endif %}",
                title: "{{ message }}",
                showConfirmButton: true,
                confirmButtonText: "Aceptar",
            });
        {% endfor %}
    });
  </script>
{% endif %}

{% endblock script_js %}