{% extends 'dashboard.html' %} {% load static %}

{% block files_css %}
<link rel="stylesheet" href="{% static 'admin/css/panel.css' %}">
{% endblock files_css %}

{% block content %}

{% if user.is_authenticated %}
  <h3 class="fw-bold mb-3">Dashboard</h3>
   {% if user.is_superuser %}
     <h6 class="mb-3">¡Bienvenid@, Administrador!</h6>
   {% else %}
     <h6 class="mb-3">¡Bienvenid@, {{ user.first_name }}!</h6> 
   {% endif %}  
{% endif  %}   

<div class="row">
  <div class="col-sm-6 col-md-3">
    <a href="{% url 'carrusel' %}">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div class="icon-big text-center icon-primary bubble-shadow-small">
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-category">Carrusel</p>
                <h4 class="card-title">{{ carrusel_count }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a href="{% url 'dashboard' %}">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div class="icon-big text-center icon-info bubble-shadow-small">
                <i class="fas fa-quote-right"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-category">Opiniones</p>
                <h4 class="card-title">6</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a href="{% url 'dashboard' %}">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div class="icon-big text-center icon-success bubble-shadow-small">
                <i class="fas fa-seedling"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-category">Producción Órganica</p>
                <h4 class="card-title">3</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a href="{% url 'dashboard' %}">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div class="icon-big text-center icon-secondary bubble-shadow-small">
                <i class="fas fa-inbox"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-category">Bandeja de Mensajes</p>
                <h4 class="card-title">5</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>

</div>
{% endblock content %}